.Counter{
    display:flex;
    align-self: center;
}
.Sub,
.Add{
    border: none;
    /* background-color: #FCBF49; */
    background-color: transparent;
    width:36rem;
    height: 36rem;
    line-height: 36rem;
    font-size: 36rem;
    padding: 0;
    color: #FCBF49;
}

.Sub{
    background-color: transparent;
    /* border: 1px solid black; */
    color: darkgray;
   
}

.Count{
    font-size: 28rem;
    margin: 0 5px;
    
}